{% extends 'list_price_revision/base.html' %}
{% load static %}

{% block content %}
<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>

<div id="under_pop">
    <div id="loader-bg" class="is-hide">
        <div id="loader" class="is-hide">
            <p>
                <img src="{% static 'loading.gif' %}"><br>
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">新規注文</div>
            <div class="box-body">
                <div class="button_div">
                    <button class="btn btn-info al" onclick="reload_button_clicked()"><label class="fa fa-repeat"></label>更新する</button>
                    <span>
                        <button class="btn btn-info il" onclick="popup_clicked_2()">管理表へ</button>
                        <button class="btn btn-danger il" onclick="delete_order()" style="height: fit-content"><label class="fa fa-trash-o il"></label>削除</button>
                    </span>
                </div>
                <table id="foo-table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>注文番号</th>
                            <th>注文日</th>
                            <th>商品名</th>
                            <th>数量</th>
                            <th>受取人名</th>
                            <th>受取人電話番号</th>
                            <th>受取人携帯電話番号</th>
                            <th>住所</th>
                            <th>郵便番号</th>
                            <th>供給原価の合計</th>
                            <th>販売者商品コード</th>
                        </tr>
                    </thead>
                    <tbody id="order-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="box box-solid box-danger">
            <div class="box-header">エラーが出た注文</div>
            <div class="box-body">
                <div class="button_div">
                    <button class="btn btn-danger al" onclick="reload_button_clicked()"><label class="fa fa-repeat"></label>更新する</button>
                    <span>
                        <button class="btn btn-info il" onclick="popup_clicked()">管理表へ</button>
                        <button class="btn btn-success il" onclick="move_order()"><i class="fa fa-arrow-up il"></i>移動</button>
                    </span>
                </div>
                <table class="table table-bordered two">
                    <thead>
                    <tr>
                        <th></th>
                        <th>エラー原因</th>
                        <th>注文番号</th>
                        <th>注文日</th>
                        <th>数量</th>
                        <th>受取人名</th>
                        <th>受取人電話番号</th>
                        <th>受取人携帯電話番号</th>
                        <th>住所</th>
                        <th>郵便番号</th>
                        <th>供給原価の合計</th>
                        <th>販売者商品コード</th>
                        <th>商品名</th>
                    </tr>
                    </thead>
                    <tbody id="error_body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="popup" style="position: absolute; top: 0; left: 0;height: 100vh; width: 100vw;display: none;
                        justify-content: center;align-items: center">
    <div style="position: absolute; top: 0; left: 0; width: 100vw; height: 100vh;background: black; opacity: 0.5;"></div>
    <div id="pop_main" style="background: white;height: 40vh;width: 60vh;z-index: 1000;border-radius: 10px;
                    padding: 20px;">
        <div style="width: 100%;padding: 0 30px;display: flex;justify-content: space-between">
            <button class="btn btn-danger" style="border-radius: 10px;" onclick="popup_clicked()">
                キャンセル<i style="margin-left: 10px" class="fa-solid fa-xmark"></i>
            </button>
            <button class="btn btn-info" style="border-radius: 10px;" onclick="to_profit()">
                管理表へ
            </button>
        </div>
        <div style="width: 100%; padding: 30px; height: 100%;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>購入金額</th>
                        <th>Amazon注文番号</th>
                        <th>注文番号</th>
                        <th>販売者商品コード</th>
                        <th>商品名</th>
                    </tr>
                </thead>
                <tbody id="pop_body">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="popup2" style="position: absolute; top: 0; left: 0;height: 100vh; width: 100vw;display: none;
                        justify-content: center;align-items: center">
        <div style="position: absolute; top: 0; left: 0; width: 100vw; height: 100vh;background: black; opacity: 0.5;"></div>
        <div id="pop_main" style="background: white;height: 40vh;width: 60vh;z-index: 1000;border-radius: 10px;
                    padding: 20px;">
            <div style="width: 100%;padding: 0 30px;display: flex;justify-content: space-between">
                <button class="btn btn-danger" style="border-radius: 10px;" onclick="popup_clicked_2()">
                    キャンセル<i style="margin-left: 10px" class="fa-solid fa-xmark"></i>
                </button>
                <button class="btn btn-info" style="border-radius: 10px;" onclick="to_profit_2()">
                    管理表へ
                </button>
            </div>
            <div style="width: 100%; padding: 30px; height: 100%;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>購入金額</th>
                        <th>Amazon注文番号</th>
                        <th>注文番号</th>
                        <th>販売者商品コード</th>
                        <th>商品名</th>
                    </tr>
                    </thead>
                    <tbody id="pop_body2">
                    </tbody>
                </table>
            </div>
        </div>
</div>

<style about="loading">
    /* 非表示 */
    .is-hide {
        display: none;
    }

    /* ローディング画面をフェードアウト */
    .fadeout-bg {
        transition-property: opacity;
        transition-delay: .9s;
        transition-duration: .8s;
        opacity: 0;
        pointer-events: none;
    }

    /* ローダーをフェードアウト */
    .fadeout-loader {
        transition-property: opacity;
        transition-delay: .9s;
        transition-duration: .3s;
        opacity: 0;
        pointer-events: none;
    }

    /* ローディング画面 */
    #loader-bg {
        background: #ffffff;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        opacity: 0.5;
    }

    #loader {
        height: 120px;
        left: 50%;
        margin-left: -60px;
        margin-top: -60px;
        position: fixed;
        top: 50%;
        width: 120px;
    }

    #loader p {
        color: #454545;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
    }

    #loader p img {
        display: inline-block;
    }
</style>
<style>
    .box-solid{
        height: 40vh;
    }
    .button_div {
        display: flex;
        justify-content: space-between;
    }

    .il {
        padding-right: 10px;
        height: fit-content;
    }

    .fa-repeat {
        margin-right: 5px;
    }

    .al {
        margin-bottom: 10px;
    }

    .box-header {
        height: 10%;
        max-height: 40px;
    }

    .box-body {
        display:block;
        height: 90%;
        overflow:scroll;
        /*background-color: #50D4FD;*/
    }

    tbody tr:nth-child(even) {
        background-color: #eae7f5;
    }

    thead {
        background-color: #03b9e6;
    }

    tbody tr {
        display: table-row;
        width:100%;
        table-layout: fixed;
    }

    tbody tr td {
        white-space: nowrap;
        text-align: center;
    }

    .table-bordered thead th:first-child {
        width:10px;
    }

    th {
        white-space: nowrap;
        width:100%;
    }

    tbody {
        overflow: scroll;
    }

    table {
        {#background-color: rgba(136, 136, 136, 0.13);#}
        height: 90%;
        display: block;
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .two thead{
        background-color: #ee3148;
    }
</style>

<script>
    let order_failed_list = {};

    $(document).ready(function () {

        start_load();

        get_order_failed();
    });

    async function delete_order() {
        let link = '{% url 'buy:order' %}0';
        let checks = document.getElementsByClassName('checks');

        let to_del_list = []
        for (let check of checks) {
            if (check.checked)
                to_del_list.push(parseInt(check.value));
        }

        const method = 'POST'
        const body = JSON.stringify({data:to_del_list})
        const headers = new Headers({
            'Content-Type': 'application/x-www-form-urlencoded',
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        })

        const getCookie = (name) => {
            if (document.cookie && document.cookie !== '') {
                for (const cookie of document.cookie.split(';')) {
                    const [key, value] = cookie.trim().split('=')
                    if (key === name) {
                        return decodeURIComponent(value)
                    }
                }
            }
        }
        const csrftoken = getCookie('csrftoken')

        await fetch(link, {
            method: method,
            body: body,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
                'X-CSRFToken': csrftoken,
            }
        })
        .then(res => {})
        .catch(console.error);

        await get_order_failed();
    }

    async function get_order_failed() {
        let link = '{% url 'buy:order' %}0';

        await fetch(link)
        .then(response => {return response.json();})
        .then(data => {
            order_failed_list = data;
        })
        .catch(error => {})

        await set_order_list();
    }

    async function set_order_list() {
        let innerHTML = '';
        let order_numbers = Object.keys(order_failed_list.order_list);
        let order_list = order_failed_list.order_list;

        for (o_n of order_numbers) {
            innerHTML +=
                "<tr>" +
                "<td><input type='checkbox' class='checks' value='"+ o_n + "' </td>" +
                "<td <div contenteditable>" + o_n + "</div></td>"
            let temp = order_list[o_n];
            for (key of Object.keys(temp)) {
                innerHTML += "<td><div contenteditable>" + temp[key] + "</div></td>"
            }
            innerHTML += "</tr>"
        }

        document.getElementById('order-body').innerHTML = innerHTML;

        await set_error_list();

        stop_load();
    }

    async function set_error_list() {
        let innerHTML = '';
        let order_numbers = Object.keys(order_failed_list.failed_list);
        let failed_list = order_failed_list.failed_list;

        for (let o_n of order_numbers) {
            let temp = failed_list[o_n];

            innerHTML +=
                "<tr>" +
                "<td><input type='checkbox' class='checks' value='"+ o_n + "' </td>" +
                "<td <div contenteditable>" + temp['reason'] + "</div></td>" +
                "<td <div contenteditable>" + o_n + "</div></td>"

            for (key of Object.keys(temp)) {
                if (key === 'reason')
                    continue

                innerHTML += "<td><div contenteditable id=" + key + ">" + temp[key] + "</div></td>"
            }
            innerHTML += "</tr>"
        }

        document.querySelector('#error_body').innerHTML = innerHTML;
    }

    async function reload_button_clicked() {
        start_load();

        let link = '{% url 'buy:order' %}1';

        await fetch(link)
        .catch(error => {console.log(error)});

        await get_order_failed();
    }

    async function move_order() {
        start_load();

        const table = document.querySelector('#error_body');
        const trs = table.querySelectorAll('tr');
        const link = '{% url 'buy:failed_new' %}';

        console.log(link);

        const data = {}

        for (let tr of trs) {
            if (tr.querySelector('input').checked)
            {
                data[tr.querySelector('input').value] = {
                    "name": tr.querySelector('#name').innerText,
                    "phone_num": tr.querySelector("#phone_num").innerText,
                    "mobile_num": tr.querySelector("#mobile_num").innerText,
                    "address": tr.querySelector('#address').innerText,
                    "zip_code": tr.querySelector('#zip_code').innerText,
                }
            }
        }

        await fetch(link, {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
            }
        }).then(response => {})

        await get_order_failed()
    }

    function popup_clicked() {
        let current_display = document.querySelector('#popup').style.display;

        if (current_display === 'none') {
            document.querySelector('#popup').style.display = 'flex';
            document.querySelector('#under_pop').setAttribute('disabled', 'disabled');

            const error_table = document.querySelector('#error_body');
            const pop_table = document.querySelector('#pop_body');
            const trs = error_table.querySelectorAll('tr');
            const li = []

            for (let tr of trs) {
                if (tr.querySelector('input').checked)
                {
                    li.push([
                        tr.querySelectorAll('td')[2].innerText,
                        tr.querySelectorAll('td')[11].innerText,
                        tr.querySelectorAll('td')[12].innerText
                    ]);
                }
            }

            let innerHTML = '';

            for (let val of li){
                innerHTML +=
                    "<tr>" +
                    "<td><input/></td>" +
                    "<td><input/></td>" +
                    "<td>"+ val[0] + "</td>" +
                    "<td>" + val[1] + "</td>" +
                    "<td>" + val[2] + "</td>" +
                    "</tr>"
            }

            pop_table.innerHTML = innerHTML;
        }
        else {
            document.querySelector('#popup').style.display = 'none';
            document.querySelector('#under_pop').removeAttribute('disabled');
        }
    }

    function popup_clicked_2() {
        let current_display = document.querySelector('#popup2').style.display;

        if (current_display === 'none') {
            document.querySelector('#popup2').style.display = 'flex';
            document.querySelector('#under_pop').setAttribute('disabled', 'disabled');

            const table = document.querySelector('#order-body');
            const pop_table = document.querySelector('#pop_body2');
            const trs = table.querySelectorAll('tr');
            const li = []

            for (let tr of trs) {
                if (tr.querySelector('input').checked)
                {
                    li.push([
                        tr.querySelectorAll('td')[1].innerText,
                        tr.querySelectorAll('td')[10].innerText,
                        tr.querySelectorAll('td')[11].innerText
                    ]);
                }
            }

            let innerHTML = '';

            for (let val of li){
                innerHTML +=
                    "<tr>" +
                    "<td><input/></td>" +
                    "<td><input/></td>" +
                    "<td>"+ val[0] + "</td>" +
                    "<td>" + val[1] + "</td>" +
                    "<td>" + val[2] + "</td>" +
                    "</tr>"
            }

            pop_table.innerHTML = innerHTML;
        }
        else {
            document.querySelector('#popup2').style.display = 'none';
            document.querySelector('#under_pop').removeAttribute('disabled');
        }
    }

    async function to_profit() {
        start_load()

        const pop_table = document.querySelector('#pop_body');
        const link = '{% url 'buy:failed_profit' %}';

        let body = {
            "username": '{{ user }}',
            "li": {}
        }

        for (let tr of pop_table.querySelectorAll('tr')) {
            body['li'][parseInt(tr.querySelectorAll('td')[2].innerText)] = {
                'bought_price':  parseInt(tr.querySelectorAll('td')[0].querySelector('input').value),
                'amazon_order_num': tr.querySelectorAll('td')[1].querySelector('input').value
            }
        }

        await fetch(link, {
            method: 'POST',
            body: JSON.stringify(body),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
            }
        }).then(response => {})

        popup_clicked();
        await get_order_failed();
    }

    async function to_profit_2() {
        start_load()

        console.log('kokooooo')

        const pop_table = document.querySelector('#pop_body2');
        const link = '{% url 'buy:order_profit' %}';

        let body = {
            "username": '{{ user }}',
            "li": {}
        }

        for (let tr of pop_table.querySelectorAll('tr')) {
            body['li'][parseInt(tr.querySelectorAll('td')[2].innerText)] = {
                'bought_price':  parseInt(tr.querySelectorAll('td')[0].querySelector('input').value),
                'amazon_order_num': tr.querySelectorAll('td')[1].querySelector('input').value
            }
        }

        await fetch(link, {
            method: 'POST',
            body: JSON.stringify(body),
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
            }
        }).then(response => {})

        popup_clicked_2();
        await get_order_failed();
    }

    function start_load() {
        let bg = document.getElementById('loader-bg'),
            loader = document.getElementById('loader');
        /* ロード画面の非表示を解除 */
        bg.classList.remove('is-hide');
        loader.classList.remove('is-hide');
    }

    function stop_load() {
        // ロード停止
        let bg = document.getElementById('loader-bg');
        let loader = document.getElementById('loader');

        // bg.classList.add('fadeout-bg');
        // loader.classList.add('fadeout-loader');
        bg.setAttribute('class', 'is-hide');
    }

</script>

{% endblock %}