{% extends 'list_price_revision/base.html' %}

{% block content %}

<div class="row equal">
<div class="col-md-6">
    <div class="box box-solid box-primary">

        <div class="box-header">
            <h3 class="box-title">新規ASIN登録</h3>
        </div>
        <div class="box-body">
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="10" name="asin_list" form="AsinForm"
                              placeholder="ASINリストを改行で区切ってペーストして下さい。&#13;&#10;B08G1J8GL5&#13;&#10;B08G1J8GL2&#13;&#10;B08G1J8GL3">{{ pre_asin_list }}</textarea>
                </div>

            </form>
        </div>

        <div class="box-footer">
            <form method="POST" action="" id="AsinForm">{% csrf_token %}
                <div>
                    <input type="submit" class="btn btn-info pull-left" value="アップロード" onclick="my_func()" name="asin_upload">
                </div>
            </form>

            <form id="other" method="POST" enctype="multipart/form-data" name="csv">{% csrf_token %}
                <div>
                    <input class="btn btn-success pull-right" onclick="document.getElementById('csv_button').click()"
                    value="CSVから">
                    <input type="file" class="btn btn-success pull-right" value="CSVから" name="csv_upload" id="csv_button"
                           onchange="document.getElementById('other').submit();" style="display:none;">
                </div>
            </form>
        </div>

    </div>
</div>
<div class="col-md-6">
    <div class="box box-solid box-warning">

        <div class="box-header">
            <h3 class="box-title">出品待ち中ASINリスト</h3>
        </div>
        <div class="box-body">
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="10"
                              readonly>{{ waiting_list }}</textarea>
                </div>

            </form>
        </div>

    </div>
</div>
</div>

<div class="row">
<div class="col-md-12">
    <div class="box box-solid box-success">

        <div class="box-header">
            <h3 class="box-title">アップロード記録</h3>
        </div>
        <div class="box-body" style="display:block; height:300px;overflow:scroll;">
            <table id="foo-table" class="table table-bordered" style="table-layout: fixed;">
                <thead>
                <tr>
                    <th>アップロード日</th><th>合計ASIN数</th><th>新規ASIN数</th><th>出品完了</th>
                </tr>
                </thead>
                <tbody>
                {% for info in records %}
                <tr role="row">
                    <td>{{info.0}}</td>
                    <td>{{info.1}}</td>
                    <td>{{info.2}}</td>
                    {% if info.4 == '' %}
                        <td>{% if info.3 %}<i class="fa fa-check-circle" id="green_icon"></i>{% else %}<i class="fa fa-remove" id="red_icon"></i>{%endif%}</td>
                    {% else %}
                        <td>{{info.4}}</td>
                    {% endif %}
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<style>
    #green_icon {
     color: green;
    }

    #red_icon {
     color: red;
    }

    .equal {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

div[class*='col-'] {
  flex:1 1 auto;
  display: flex;
}
.panel {
  flex:1 0 100%;
}

</style>

{% endblock %}