{% extends 'base.html' %}

{% block header %}
<a href="{% url 'price:price-base' %}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">出品・価格改定</span>
</a>
{% endblock %}

{% block sidebar %}
<ul class="sidebar-menu" data-widget="tree">

    <li class="header">出品</li>
    <li class="treeview">
        <a href="{% url 'price:asin' %}">
            <i class="fa fa-edit"></i>
            <span>ASIN登録</span>
        </a>
    </li>
    <li>
        <a href="{% url 'price:listing' %}">
            <i class="fa fa-th-list"></i> <span>出品中</span>
        </a>
    </li>
    <li class="treeview">
        <a href="{% url 'price:blacklist' %}">
            <i class="fa fa-thumbs-o-down"></i>
            <span>ブラックリスト</span>
        </a>
    </li>
    <li class="treeview">
        <a href="{% url 'price:setting' %}">
            <i class="fa fa-gears"></i>
            <span>設定</span>
        </a>
    </li>
    <li class="header">LABELS</li>
    <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
    <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
</ul>
{% endblock %}


{% block dashboard %}
<section class="content-header">
    <h1>
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>アプリ選択</a></li>
        <li class="active">出品・価格改定</li>
    </ol>
</section>
{% endblock %}
