{% extends 'base.html' %}

{% block header %}
<a href="{% url 'price:price-base' %}" class="logo">
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">QTS</span>
</a>
{% endblock %}

{% block sidebar %}
<ul class="sidebar-menu" data-widget="tree">

    <li class="header">出品</li>
    <li class="treeview">
        <a href="{% url 'price:asin' %}">
            <i class="fa fa-edit"></i>
            <span>ASIN登録</span>
        </a>
    </li>
    <li>
        <a href="{% url 'price:listing' %}">
            <i class="fa fa-th-list"></i> <span>出品中</span>
        </a>
    </li>
    <li class="treeview">
        <a href="{% url 'price:blacklist' %}">
            <i class="fa fa-thumbs-o-down"></i>
            <span>ブラックリスト</span>
        </a>
    </li>
    <li class="treeview">
        <a href="{% url 'price:setting' %}">
            <i class="fa fa-gears"></i>
            <span>設定</span>
        </a>
    </li>
    <li class="treeview">
        <a href="{% url 'price:log' %}">
            <i class="fa fa-calendar"></i>
            <span>ログ</span>
        </a>
    </li>
    <li class="header">自動購入</li>
    <li class="treeview">
        <a href="{% url 'buy:order' %}">
            <i class="fa-solid fa-truck"></i>
            <span>注文リスト</span>
        </a>
        <a href="{% url 'buy:setting' %}">
            <i class="fa fa-edit"></i>
            <span>設定</span>
        </a>
        <a href="{% url 'buy:profit-table' %}">
            <i class="fa-solid fa-table"></i>
            <span>管理表</span>
        </a>
    </li>
</ul>
{% endblock %}
