{% extends 'list_price_revision/base.html' %}


{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" onclick="delete_fun()">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onClick="delete_fun()">×</button>
    <h4><i class="icon fa fa-check"></i> {% if message.tags %}保存完了!{% else %}保存失敗。{% endif %}</h4>
    {% for message in messages %}
    <p> {{ message }}</p>
    {% endfor %}
</div>
{% endfor %}
{% endif %}

<script>
    function delete_fun() {
        div = document.getElementsByClassName('alert alert-success alert-dismissible')[0];
        div.parentNode.removeChild(div);
    }

    function csv_uploaded(elm) {
        let id = elm.id;

        let file = event.target.files[0];

        //readerオブジェクトを作成
        let reader = new FileReader();

        // ファイル読み取りを実行
        reader.readAsText(file);

        reader.onload = function(event) {

            let result = event.target.result;

            let res_list = result.split('\n');

            // let innerText = '';
            // for (val of res_list) {
            //     if (val !== 'ASIN')
            //         innerText += `\n${val}`;
            // }
            //
            // console.log(innerText);

            document.getElementsByName(elm.id)[0].textContent = result;
        };

        //読み込めなかった場合のエラー処理
        reader.onerror = function() {
            alert("エラー：ファイルをロードできません。");
        };
    }
</script>

<style>
    .half {
        max-height:50vh;
    }

    .file_upload_div {
        display: flex;
        justify-content: space-between;
    }

    input[type=file] {
        display: none;
    }

    .upload_label {
        background-color: #0b93d5;
        width: 70px;
        text-align: center;
        color:white;
        border-radius: 10px;
    }
</style>

<div class="half">
    <h1 style="display: flex;justify-content: center">追加登録</h1>
    <div class="row">
    <div class="col-md-3">
        <div class="box box-info">
            <div class="box-header with-border">
<!--                <div class="file_upload_div">-->
                <h3 class="box-title">商品名・メーカー</h3>
<!--                    <label class="upload_label">-->
<!--                        <input type="file" id="maker_name_blacklist" onchange="csv_uploaded(this)"/>CSVから-->
<!--                    </label>-->
<!--                </div>-->
            </div>

            <div class="box-body">
            <textarea class="form-control" rows=25 placeholder="" name="maker_name_blacklist" form="BlackForm"></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="box box-info">
            <div class="box-header with-border">
<!--                <div class="file_upload_div">-->
                <h3 class="box-title">ASIN</h3>
<!--                    <label class="upload_label">-->
<!--                        <input type="file" id="asin_blacklist" onchange="csv_uploaded(this)"/>CSVから-->
<!--                    </label>-->
<!--                </div>-->
            </div>

            <div class="box-body">
                <textarea class="form-control" rows=25 placeholder="" name="asin_blacklist" form="BlackForm"></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="box box-info">
            <div class="box-header with-border">
<!--                <div class="file_upload_div">-->
                <h3 class="box-title">除外ワード</h3>
<!--                    <label class="upload_label">-->
<!--                        <input type="file" id="words_blacklist" onchange="csv_uploaded(this)"/>CSVから-->
<!--                    </label>-->
<!--                </div>-->
            </div>

            <div class="box-body">
                <textarea class="form-control" rows=25 placeholder="" name="words_blacklist" form="BlackForm"></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">商品グループ</h3>
            </div>

            <div class="box-body" style="height: 530px; overflow-y: scroll;">
                {% for group in amazon_group_list %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" {% if group in amazon_group_blacklist  %}checked{% endif %} style="font-size:20px;" name="{{ group }}"
                            form="BlackForm"/>
                            {{ group }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

<form method="POST" action="" id="BlackForm">{% csrf_token %}
    <div style="display: flex; justify-content: center">
        <input type="submit" class="btn btn-block btn-info" value="保存" style="height: 45px;width:100px;">
    </div>
</form>
</div>

<div class="half">
    <h1 style="display: flex;justify-content: center">登録済み</h1>
    <div class="row">
    <div class="col-md-3">
        <div class="box box-info">
            <div class="box-header with-border">
                <!--                <div class="file_upload_div">-->
                <h3 class="box-title">商品名・メーカー</h3>
                <!--                    <label class="upload_label">-->
                <!--                        <input type="file" id="maker_name_blacklist" onchange="csv_uploaded(this)"/>CSVから-->
                <!--                    </label>-->
                <!--                </div>-->
            </div>

            <div class="box-body">
                <textarea class="form-control" rows=25 placeholder="" readonly>{{ obj.maker_name_blacklist }}</textarea>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="box box-info">
            <div class="box-header with-border">
                <!--                <div class="file_upload_div">-->
                <h3 class="box-title">ASIN</h3>
                <!--                    <label class="upload_label">-->
                <!--                        <input type="file" id="asin_blacklist" onchange="csv_uploaded(this)"/>CSVから-->
                <!--                    </label>-->
                <!--                </div>-->
            </div>

            <div class="box-body">
                <textarea class="form-control" rows=25 placeholder="" readonly>{{ obj.asin_blacklist }}</textarea>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="box box-info">
            <div class="box-header with-border">
                <!--                <div class="file_upload_div">-->
                <h3 class="box-title">除外ワード</h3>
                <!--                    <label class="upload_label">-->
                <!--                        <input type="file" id="words_blacklist" onchange="csv_uploaded(this)"/>CSVから-->
                <!--                    </label>-->
                <!--                </div>-->
            </div>

            <div class="box-body">
                <textarea class="form-control" rows=25 placeholder="" readonly>{{ obj.words_blacklist }}</textarea>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}