{% extends 'list_price_revision/base.html' %}
{% load static %}


{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" onclick="delete_fun()">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onClick="delete_fun()">×</button>
    <h4><i class="icon fa fa-check"></i> {% if message.tags %}保存完了!{% else %}保存失敗。{% endif %}</h4>
    {% for message in messages %}
    <p> {{ message }}</p>
    {% endfor %}
</div>
{% endfor %}
{% endif %}

<link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<script>
    jQuery(function ($) {
        $("#foo-table").DataTable({
            scrollX: true,
            scrollY: true,
        });
    });

</script>

<!--&lt;!&ndash;ローディング画面&ndash;&gt;-->
<div id="loader-bg" class="is-hide">
    <div id="loader" class="is-hide">
        <p>
            <img src="{% static 'loading.gif' %}"><br>
        </p>
    </div>
</div>
<div id="wrap">
    <div>
        <div class="box box-solid box-info">
            <div class="box-header">検索オプション</div>
            <div class="box-body" id="search_body">
                <div class="select_div">
                    <select class="select2" data-placeholder="大カテゴリ" id="big_cat" onchange="set_category_list(this)">
                    </select>
                    <select class="select2" data-placeholder="大カテゴリ" id="mid_cat" onchange="set_category_list(this)" disabled>
                    </select>
                    <select class="select2" data-placeholder="大カテゴリ" id="sub_cat" onchange="set_category_list(this)" disabled>
                    </select>
                    <button class="btn btn-info" onclick="set_table_with_json()">検索</button>
                </div>
                <div class="delete_and_download_div">
                    <div class="delete_div">
                        <select class="delete_select" id="delete_select">
                            <option value="selected">選択したアイテムを削除</option>
                            <option value="all">全商品削除</option>
                        </select>
                        <button class="btn btn-danger" onclick="delete_post()"><label class="fa fa-trash-o"></label></button>
                    </div>
                    <div class="download_div">
                        <button class="btn btn-default" style="background-color: #00a65a;color:white;" onclick="download_csv()">CSVダウンロード</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-info">
        <div class="box-body">
            <div class="col-sm-12">
                <table id="foo-table" class="table table-bordered" style="width:100%;">
                    <thead>
                    <tr>
                        <th id="check_th"></th>
                        <th>画像</th>
                        <th>ASIN</th>
                        <th>Q10価格</th>
                        <th>Amazon価格</th>
                        <th>ポイント</th>
                        <th>利益額</th>
                        <th>ブランド</th>
                        <th>商品名</th>
                        <th>カテゴリ</th>
                    </tr>
                    </thead>
                    <tbody id="list_table">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<style about="loading">
    /* 非表示 */
    .is-hide {
        display: none;
    }

    /* ローディング画面をフェードアウト */
    .fadeout-bg {
        transition-property: opacity;
        transition-delay: .9s;
        transition-duration: .8s;
        opacity: 0;
        pointer-events: none;
    }

    /* ローダーをフェードアウト */
    .fadeout-loader {
        transition-property: opacity;
        transition-delay: .9s;
        transition-duration: .3s;
        opacity: 0;
        pointer-events: none;
    }

    /* ローディング画面 */
    #loader-bg {
        background: #ffffff;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        opacity: 0.5;
    }

    #loader {
        height: 120px;
        left: 50%;
        margin-left: -60px;
        margin-top: -60px;
        position: fixed;
        top: 50%;
        width: 120px;
    }

    #loader p {
        color: #454545;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
    }

    #loader p img {
        display: inline-block;
    }
</style>

<style about="search-box">
    #search_body {
        height: 55px;
        display: flex;
        /*justify-content: space-evenly;*/
    }
    .select2 {
        width:12%;
        height: 20%;
        min-height: 30px;
        min-width:150px;
    }

    .select_div {
        display: flex;
        justify-content: space-evenly;
        /*margin-right: auto;*/
        border-right: 1px solid black;
        box-sizing: border-box;
        width: 100%;
    }

    .delete_and_download_div {
        display: flex;
        width:100%;
        /*justify-content: space-evenly;*/
    }

    .delete_div {
        border-right: 1px solid black;
        width: 50%;
        display:flex;
        justify-content: center;
    }

    .delete_select {
        width:180px;
        margin-right: 10px;
    }

    .download_div {
        width: 50%;
        display:flex;
        justify-content: center;
    }

    /*td {*/
    /*    max-height:5px*/
    /*}*/

</style>

<script>
    let cat_json = {}
    let item_info_json = {}
    let sub_names = {}

    $(document).ready(function () {
        let bg = document.getElementById('loader-bg'),
        loader = document.getElementById('loader');
        /* ロード画面の非表示を解除 */
        bg.classList.remove('is-hide');
        loader.classList.remove('is-hide');

        /* 読み込み完了 */
        // window.addEventListener('load', stopload);

        // /* 10秒経ったら強制的にロード画面を非表示にする */
        // setTimeout('stopload()',10000);
        //
        // /* ロード画面を非表示にする処理 */
        // function stopload(){
        //     bg.classList.add('fadeout-bg');
        //     loader.classList.add('fadeout-loader');
        // }

        set_cat_and_table();
    });

    function set_option_html(temp_j) {
        let category_keys = Object.keys(temp_j);
        let option_html = '';
        let total_item_num = 0;

        for (key of category_keys) {
            if (key === 'num' || key === 'name')
                continue

            option_html += "<option value='" + key + "'>" + temp_j[key]['name'] + "(" + temp_j[key]['num'] + ")</option>"
            total_item_num += temp_j[key]['num'];
        }

        return "<option value='全て'>全て(" + total_item_num + ")</option>" + option_html
    }

    function set_category_list(element=null) {
        let big_cat_elm = document.getElementById('big_cat');
        let mid_cat_elm = document.getElementById('mid_cat');
        let sub_cat_elm = document.getElementById('sub_cat');

        // 初期状態
        if (element === null) {
            $("#big_cat").html(set_option_html(cat_json));
        }
        // その他
        else {
            let big_cat_id = big_cat_elm.value;

            // 大カテゴリが変更された場合
            if (element.id === 'big_cat') {
                if (big_cat_id === '全て') {
                    mid_cat_elm.disabled = true;
                    sub_cat_elm.disabled = true;
                    mid_cat_elm.innerHTML = '';
                    sub_cat_elm.innerHTML = '';
                } else {
                    mid_cat_elm.disabled = false;
                    sub_cat_elm.disabled = true;

                    $("#mid_cat").html(set_option_html(cat_json[big_cat_id]));
                    sub_cat_elm.innerHTML = '';
                }
            } else if (element.id === 'mid_cat') {
                let mid_cat = element.value;

                if (mid_cat_elm.value === '全て') {
                    sub_cat_elm.disabled = true;
                    sub_cat_elm.innerHTML = '';
                }
                else{
                    sub_cat_elm.disabled = false;
                }

                $("#sub_cat").html(set_option_html(cat_json[big_cat_id][mid_cat]))
            }
        }

    }

    function table_inner_html(temp_j) {
        return [
            '<td><input type="checkbox" style="position:relative; vertical-align: middle;"/></td>',
            '<td><img src="' + temp_j['img_link'] + '" style="height: 90px;"/></td>',
            '<td class="asin"><a class="asin" href="https://www.amazon.co.jp/dp/' + temp_j['asin'] + '" target="_blank">' + temp_j['asin'] + '</a></td>',
            '<td>' + temp_j['price'] + '</td>',
            '<td>' + temp_j['amazon_price'] + '</td>',
            '<td>' + temp_j['point'] + '</td>',
            '<td>' + temp_j['profit'] + '</td>',
            '<td>' + temp_j['brand'] + '</td>',
            '<td>' + temp_j['product_name'] + '</a></td>',
            '<td>' + sub_names[temp_j['category']] + '</td>'
        ]
    }

    function set_table_with_json() {
        let list_table = $('#foo-table').DataTable();
        list_table.rows().remove();

        let big_cat = $("#big_cat").val();
        let mid_cat = $("#mid_cat").val();
        let sub_cat = $("#sub_cat").val();

        let category_list=[]

        // 大カテゴリ：全て
        if (big_cat === '全て') {

        }
        // 中カテゴリ：全て
        else if (mid_cat === '全て') {
            for (let temp_mid of Object.keys(cat_json[big_cat])) {
                if (temp_mid !== 'name' && temp_mid !== 'num')
                    category_list.push(...Object.keys(cat_json[big_cat][temp_mid]));
            }
        }
        // その他
        else {
            if (sub_cat === '全て') {
                category_list = Object.keys(cat_json[big_cat][mid_cat]);
            }
            else {
                category_list = [sub_cat]
            }
        }

        let index = category_list.indexOf('num')
        while (true) {
            index = category_list.indexOf('num')
            if (index > -1) {
                category_list.splice(index, 1)
            }
            else
                break
        }

        while (true) {
            index = category_list.indexOf('name')
            if (index > -1) {
                category_list.splice(index, 1)
            }
            else
                break
        }

        if (category_list.length === 0) {
            for (let elm of item_info_json)
                list_table.row.add(table_inner_html(elm));
            list_table.draw();
        }
        else {
            for(let temp_j of item_info_json) {
                if (category_list.includes(temp_j['category']))
                    list_table.row.add(table_inner_html(temp_j))
            }
        }

        $("#foo-table").DataTable({
            destroy: true,
            bAutoWidth: false,
            aoColumns: [
                {sWidth: '0%', bSortable:false},
                {sWidth: '10%'},
                {sWidth: '5%'},
                {sWidth: '5%'},
                {sWidth: '5%'},
                {sWidth: '5%'},
                {sWidth: '5%'},
                {sWidth: '5%'},
                {sWidth: '14%'},
                {sWidth: '10%'},
            ],
            select: {
                style: 'multi'
            },
            order: [
                1
            ]
        }).columns.adjust();
        // $("#foo-table").DataTable().columns.adjust().draw();

        set_checkable();
    }

    // カテゴリリストとテーブルを描画
    async function set_cat_and_table() {
        let link = '{% url 'price:get_listing' %}';

        await fetch(link)
        .then(response => {return response.json()})
        .then(data => {
            cat_json = data.cat;
            item_info_json = data.info_json;
            sub_names = data.sub_names;
            set_category_list();
            set_table_with_json();

            stop_load();
        })
        .catch(error => {})
    }

    function set_checkable() {
        // //tr要素をクリックでイベント発火
        // $("#foo-table").DataTable().$('tr').click(function () {
        //     //td要素からチェックボックスを探す
        //     var $c = $(this).children('td').children('input[type=checkbox]');
        //     if ($c.prop('checked'))
        //         $c.prop('checked', '');
        //     else
        //         $c.prop('checked', 'checked');
        // });
    }

    function stop_load() {
        // ロード停止
        let bg = document.getElementById('loader-bg');
        let loader = document.getElementById('loader');

        bg.classList.add('fadeout-bg');
        loader.classList.add('fadeout-loader');
        bg.setAttribute('class', 'is-hide');
    }

    function delete_post(method = 'post') {
        let path = "{% url 'price:listing' %}"

        const form = document.createElement('form');
        form.method = method;
        form.action = path;

        let inputElem = document.createElement('input');
        inputElem.type = 'hidden';
        inputElem.name = 'csrfmiddlewaretoken';
        inputElem.value = '{{ csrf_token }}';
        form.appendChild(inputElem);

        let asin_list = []
        if ($("#delete_select").val() !== 'all') {
            for (let elm of $("#foo-table").DataTable().$('tr')) {
                if ($(elm).children('td').children('input[type=checkbox]').prop('checked'))
                    asin_list.push(elm.getElementsByClassName('asin')[0].innerHTML)
            }
        }
        else {
            for (let temp_j of item_info_json) {
                asin_list.push(temp_j['asin'])
            }
        }

        const hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = 'asin_list';
        hiddenField.value = asin_list;
        form.appendChild(hiddenField);

        document.body.appendChild(form);
        form.submit();
    }

    function download_csv() {
        const filename = '商品一覧.csv';

        // csvようテキスト作成
        let text = 'ASIN, 価格, ポイント, ブランド, 商品名, カテゴリ'
        for (let temp_j of item_info_json) {
            text += '\n';
            text += temp_j['asin'] + ', ' + temp_j['price'] + ', ' + temp_j['point']
                    + ', ' + temp_j['brand'] + ', ' + temp_j['product_name'] + ', ' + temp_j['category']
        }
        //BOMを付与する（Excelでの文字化け対策）
        const bom = new Uint8Array([0xef, 0xbb, 0xbf]);
        //Blobでデータを作成する
        const blob = new Blob([bom, text], { type: "text/csv" });

        //IE10/11用(download属性が機能しないためmsSaveBlobを使用）
        if (window.navigator.msSaveBlob) {
            window.navigator.msSaveBlob(blob, filename);
            //その他ブラウザ
        } else {
            //BlobからオブジェクトURLを作成する
            const url = (window.URL || window.webkitURL).createObjectURL(blob);
            //ダウンロード用にリンクを作成する
            const download = document.createElement("a");
            //リンク先に上記で生成したURLを指定する
            download.href = url;
            //download属性にファイル名を指定する
            download.download = filename;
            //作成したリンクをクリックしてダウンロードを実行する
            download.click();
            //createObjectURLで作成したオブジェクトURLを開放する
            (window.URL || window.webkitURL).revokeObjectURL(url);
        }
    }

    document.getElementById('check_th').addEventListener('dblclick', function(e){
        for (let tr of $("#foo-table").DataTable().$('tr'))
            tr.getElementsByTagName('input')[0].click();
    });

</script>

<style>
    td {
        border: 1px black solid;
        text-align: center;
    }

    td a {
        vertical-align: middle;
    }

</style>

{% endblock %}