{% extends 'list_price_revision/base.html' %}
{% load static %}

{% block content %}

<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
<script src="{% static 'js_files/log_page.js' %}"></script>


<div id="loader-bg" class="is-hide">
    <div id="loader" class="is-hide">
        <p>
            <img src="{% static 'loading.gif' %}"><br>
        </p>
    </div>
</div>

<div class="col-md-12">
    <div class="button-div">
        <button class="btn btn-default" onclick="add_log(0)">今日</button>
        <button class="btn btn-default lg" onclick="add_log(4)">５日間</button>
        <button class="btn btn-default lg" onclick="add_log(9)">１０日間</button>
    </div>
</div>

<div class="col-md-12">
    <div class="box box-solid box-primary" style="height:300px;">
        <div class="box-header">
            <h3 class="box-title">ログ</h3>
        </div>
        <div class="box-body" style="display:block; height:250px;overflow:scroll;">
            <table id="foo-table" class="table table-bordered">
                <thead>
                <tr>
                    <th>日付</th><th>動作内容</th><th>成功ASIN数</th><th>失敗ASIN数</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="box box-solid box-warning" style="height:300px;">

        <div class="box-header">
            <h3 class="box-title">詳細</h3>
        </div>
        <div class="box-body" style="display:block; height:250px;overflow:scroll;">
            <table id="error_table" class="table table-bordered">
                <thead>
                <tr>
                    <th style="width:25px;"></th><th>ASIN</th><th>エラー内容</th>
                </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>


    </div>
</div>


<style>

    .button-div {
        width:100%;
        display: flex;
        justify-content: left;
        padding-bottom: 10px;
    }

    .lg {
        margin-left: 10px;
    }

    /* 非表示 */
    .is-hide {
        display: none;
    }

    /* ローディング画面をフェードアウト */
    .fadeout-bg {
        transition-property: opacity;
        transition-delay: .9s;
        transition-duration: .8s;
        opacity: 0;
        pointer-events: none;
    }

    /* ローダーをフェードアウト */
    .fadeout-loader {
        transition-property: opacity;
        transition-delay: .9s;
        transition-duration: .3s;
        opacity: 0;
        pointer-events: none;
    }

    /* ローディング画面 */
    #loader-bg {
        background: #ffffff;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        opacity: 0.5;
    }

    #loader {
        height: 120px;
        left: 50%;
        margin-left: -60px;
        margin-top: -60px;
        position: fixed;
        top: 50%;
        width: 120px;
    }

    #loader p {
        color: #454545;
        font-size: 10px;
        line-height: 1.4;
        text-align: center;
    }

    #loader p img {
        display: inline-block;
    }
</style>

<!--{% for info in res_list %}&ndash;&gt;-->
<!--                <tr role="row" onclick="test(this, {{ no_date }})">-->
<!--                    <td>{{info.1}}</td>-->
<!--                    <td>{{info.2}}</td>-->
<!--                    <td>{{info.3}}</td>-->
<!--                    <td>{{info.4}}</td>-->
<!--                    <td class="id_" style="display:none">{{ info.0 }}</td>-->
<!--                </tr>-->
<!--                {% endfor %}-->
<script>
    var no_date = [];

    $(document).ready(function () {
        add_log();
    });

    function row_clicked(tr) {
        console.log('here');
        let td = ''
        let id = $($(tr)[0]).children('.id_')[0].innerText;
        let list = []
        for (val of no_date)
            if (val[0] == id)
                list = val;

        let t_body = document.getElementById('error_table').getElementsByTagName('tbody')[0];

        t_body.innerHTML = '';

        let success_asin_list = list[1];
        let failed_asin_list = list[2];

        for (v of failed_asin_list) {
            tr = document.createElement('tr');
            tr.setAttribute('role', 'row');

            td = document.createElement('td');
            td.innerHTML = '<i class="fa fa-remove" style="color: red;">';
            tr.appendChild(td);

            td = document.createElement('td');
            td.innerText = v[0];
            tr.appendChild(td);

            td = document.createElement('td');
            td.innerText = v[1];
            tr.appendChild(td);

            t_body.appendChild(tr);
        }

        for (let v of success_asin_list) {
            tr = document.createElement('tr');
            tr.setAttribute('role', 'row');

            td = document.createElement('td');
            td.innerHTML = '<i class="fa fa-check-circle" style="color: green;">';
            tr.appendChild(td);

            td = document.createElement('td');
            td.innerText = v;
            tr.appendChild(td);
            tr.appendChild(document.createElement('td'));
            t_body.appendChild(tr);
        }
    }

    async function add_log(days=0) {
        let bg = document.getElementById('loader-bg'),
            loader = document.getElementById('loader');
        /* ロード画面の非表示を解除 */
        bg.classList.remove('is-hide');
        loader.classList.remove('is-hide');

        let link = '{% url 'price:get_log' %}';

        link += '/' + days

        let tbody = document.getElementById('foo-table').getElementsByTagName('tbody')[0];

        let res = await fetch(link)
            .then(response => {
                return response.json();
            })
            .then(data => {
                no_date = data['no_date'];

                console.log('receved');
                // for (info of)

                let innerHTML = ''
                for (let info of data['res_list']) {
                    innerHTML +=
                        '<tr role="row" onclick="row_clicked(this)">' +
                        "<td>" + info[1] + "</td>\n" +
                        "<td>" + info[2] + "</td>\n" +
                        "<td>" + info[3] + "</td>\n" +
                        "<td>" + info[4] + "</td>\n" +
                        "<td class=\"id_\" style=\"display:none\">" + info[0] + "</td>" +
                        '</tr>'
                }

                tbody.innerHTML = innerHTML
            })
            .catch(error => {

            });

        stop_load();
    }

    function stop_load() {
        // ロード停止
        bg = document.getElementById('loader-bg');
        loader = document.getElementById('loader');

        bg.classList.add('fadeout-bg');
        loader.classList.add('fadeout-loader');
        bg.setAttribute('class', 'is-hide');
    }
</script>



{% endblock %}