{% extends 'list_price_revision/base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" onclick="delete_fun()">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onClick="delete_fun()">×</button>
    <h4><i class="icon fa fa-check"></i> {% if message.tags %}保存完了!{% else %}保存失敗。{% endif %}</h4>
    {% for message in messages %}
    <p> {{ message }}</p>
    {% endfor %}
</div>
{% endfor %}
{% endif %}

<script>
    function delete_fun() {
        div = document.getElementsByClassName('alert alert-success alert-dismissible')[0];
        div.parentNode.removeChild(div);
    }
</script>

<style>
    .readonly_input {
        width:50px;
        background:transparent;
        border:none;
    }
    .num_input {
        width:50px;
    }
</style>

<script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>

<!--<ul class="messages_ul">-->
<!--    {% for message in messages %}-->
<!--    <li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->
<div class="row row-eq-height" style="display:flex;align-items: stretch;">
    <div class="col-md-6">
        <!-- MAP & BOX PANE -->
        <div class="box box-solid box-success">
            <div class="box-header">
                <h3 class="box-title">Q10 アカウント情報</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">アカウントID</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="q10_id" placeholder="アカウントID"
                           value="{{ obj.q10_id }}" form="UserForm">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">パスワード</label>
                    <input type="password" form='UserForm' class="form-control" id="exampleInputPassword1" name="q10_password" placeholder="Password"
                           value="{{ obj.q10_password }}">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">API KEY</label>
                    <input type="" form='UserForm' class="form-control" id="" name="q10_api" placeholder=""
                           value="{{ obj.q10_api }}">
                </div>
                <div style="width:20%;">
                    <input type="submit" class="btn btn-block btn-success" value="API確認" onclick="post('{% url 'price:setting' %}')" style="height:40px;">
                </div>
            </div>
        </div>

        <!-- TABLE: LATEST ORDERS -->
        <div class="box box-solid box-info">
            <div class="box-header">
                <h3 class="box-title">価格設定</h3>
            </div>
            <div id="mega_div">
                <label><input type="radio" id="mega_wari" value="false" name="mega_wari" form="UserForm">メガ割</label>
                <label><input type="radio" id="normal" name="mega_wari" value="false" form="UserForm">通常</label>
            </div>
            <div class="box-body">
                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">

                        <thead>
                            <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                                Amazon価格(円）
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">
                                利益率(%)</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                固定費(円)</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr role="row">
                                <td><input name="min_1" type="number" form="UserForm" value="{{ obj.min_1 }}" class="num_input" onchange="update_val()">  〜 <input type="number" name="max_1" value="{{ obj.max_1 }}" form="UserForm"
                                onchange="update_val()" class="num_input"></td>
                                <td><input type="number" name="rieki_1" value="{{ obj.rieki_1 }}" form="UserForm"></td>
                                <td><input type="number" name="kotei_1" value="{{ obj.kotei_1 }}" form="UserForm"></td>
                            </tr>

                            <tr role="row">
                                <td><input id="min_2" readonly class="readonly_input" value="{{ obj.max_1|add:1 }}"> 〜 <input type="number" name="max_2" value="{{ obj.max_2 }}" form="UserForm"
                                onchange="update_val()" class="num_input"></td>
                                <td><input type="number" name="rieki_2" value="{{ obj.rieki_2 }}" form="UserForm"></td>
                                <td><input type="number" name="kotei_2" value="{{ obj.kotei_2 }}" form="UserForm"></td>
                            </tr>

                            <tr role="row">
                                <td><input id="min_3" class="readonly_input" value="{{ obj.max_2|add:1 }}" > 〜 <input type="number" name="max_3" value="{{ obj.max_3 }}" form="UserForm"
                                onchange="update_val()" class="num_input"></td>
                                <td><input type="number" name="rieki_3" value="{{ obj.rieki_3 }}" form="UserForm"></td>
                                <td><input type="number" name="kotei_3" value="{{ obj.kotei_3 }}" form="UserForm"></td>
                            </tr>

                            <tr role="row">
                                <td><input id="min_4" class="readonly_input" value="{{ obj.max_3|add:1 }}" readonly> 〜 <input type="number" name="max_4" value="{{ obj.max_4 }}" form="UserForm"
                                                                                                                              onchange="update_val()" class="num_input"></label></td>
                                <td><input type="number" name="rieki_4" value="{{ obj.rieki_4 }}" form="UserForm"></td>
                                <td><input type="number" name="kotei_4" value="{{ obj.kotei_4 }}" form="UserForm"></td>
                            </tr>
                        </tbody>

                    </table>
                    <p>※X = (Amazon価格ーポイント）×（1 + 利益率) + 固定費</p>
                    <p id="x_">※出品価格＝X + X/9</p>
                    <p>※利益額＝出品価格ー(Amazon価格ーポイント)</p>
                </div>


            </div>

        </div>
        <!-- /.box -->
    </div>

    <div class="col-md-6" style="display:flex">
        <div class="box box-solid box-warning">
            <div class="box-header">
                <h3 class="box-title">出品情報</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form role="form">
                    <!-- textarea -->
                    <div class="form-group">
                        <label>ショップ名</label>
                        <input class="form-control" placeholder="" value="{{ obj.shop_name }}"
                               name="shop_name" form="UserForm">
                    </div>

                    <div class="form-group">
                        <label>商品詳細・上段</label>
                        <textarea class="form-control" rows="3" placeholder="" name="description_header" form="UserForm">{{ obj.description_header }}</textarea>
                    </div>

                    <div class="form-group">
                        <label>商品詳細・下段</label>
                        <textarea class="form-control" rows="3" placeholder="" name="description_footer" form="UserForm">{{ obj.description_footer }}</textarea>
                    </div>

                    <!-- select -->
                    <div class="form-group">
                        <label>頭文字</label>
                        <select class="form-control" name="initial_letter" form="UserForm">
                            {% for i in alphabets %}
                            {% if i != obj.initial_letter %}
                                <option>{{ i }}</option>
                            {% else %}
                                <option selected>{{ i }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>

                        <div class="checkbox">
                            <label>
                                    <input type="checkbox" name="delete_or_not" form="UserForm" {% if obj.delete_or_not  %}checked{% endif %} />
                                在庫切れを削除する
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>送料コード</label>
                        <input type="number" class="form-control" placeholder="" value="{{ obj.shipping_code }}"
                        name="shipping_code" form="UserForm">
                    </div>

                    <div class="form-group">
                        <label>標準在庫数</label>
                        <input type="number" class="form-control" placeholder="" value="{{ obj.stock_num }}"
                        name="stock_num" form="UserForm">
                    </div>

                    <div class="form-group">
                        <label>写真枚数</label>
                        <input type="number" class="form-control" placeholder="" value="{{ obj.photo_num }}"
                        name="photo_num" form="UserForm">
                    </div>

                </form>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

<form method="POST" action="" id="UserForm">{% csrf_token %}
    <div style="width:20%;margin:auto;display:flex;">
        <input type="submit" class="btn btn-block btn-info" value="保存" onclick="my_func()" style="height:45px;">
    </div>
</form>

<style>
    table {
        table-layout: fixed;
        width:100%;
        text-align: center;
    }

    th {
        text-align: center;
    }
    td input {
        width: 50px;
    }

    #mega_div {
        width:100%;
        justify-content: space-evenly;
        display: flex;
    }
    #mega_wari {
        margin-left: 30px;
    }
</style>

<script>
    $(document).ready(function() {
        if ({{obj.mega_wari|yesno:"true, false"}})
        {
            $('#mega_wari').prop('checked', true);
            $("#mega_wari").val('true');
            $("#x_").text('※出品価格＝X + X/8')
        }
        else {
            $('#normal').prop('checked', true);
            $("#mega_wari").val('false');
            $("x_").text('※出品価格＝X + X/9')
        }

        update_val();
    })

    function update_val() {
        let min_1 = document.getElementsByName('min_1')[0].value;
        let max_1 = document.getElementsByName('max_1')[0].value;
        let max_2 = document.getElementsByName('max_2')[0].value;
        let max_3 = document.getElementsByName('max_3')[0].value;

        document.getElementById('min_2').value = parseInt(max_1) + 1;
        document.getElementById('min_3').value = parseInt(max_2) + 1;
        document.getElementById('min_4').value = parseInt(max_3) + 1;

        document.getElementsByName('max_1')[0].min = parseInt(min_1) + 1;
        document.getElementsByName('max_2')[0].min = parseInt(max_1) + 1;
        document.getElementsByName('max_3')[0].min = parseInt(max_2) + 1;
        document.getElementsByName('max_4')[0].min = parseInt(max_3) + 1;

        if (parseInt(document.getElementsByName('max_1')[0].value) <= parseInt(min_1)) {
            document.getElementsByName('max_1')[0].value = parseInt(max_1) + 1;
        }

        if (parseInt(document.getElementsByName('max_2')[0].value) <= parseInt(max_1)) {
            document.getElementsByName('max_2')[0].value = parseInt(max_1) + 1;
        }

        if (parseInt(document.getElementsByName('max_3')[0].value) <= parseInt(max_2)) {
            document.getElementsByName('max_3')[0].value = parseInt(max_2) + 1;
        }

        if (parseInt(document.getElementsByName('max_4')[0].value) <= parseInt(max_3)) {
            document.getElementsByName('max_4')[0].value = parseInt(max_3) + 1;
        }
    }

    function post(path, method='post') {

          // The rest of this code assumes you are not using a library.
          // It can be made less verbose if you use one.
          const form = document.createElement('form');
          form.method = method;
          form.action = path;

          var inputElem = document.createElement('input');
          inputElem.type = 'hidden';
          inputElem.name = 'csrfmiddlewaretoken';
          inputElem.value = '{{ csrf_token }}';
          form.appendChild(inputElem);

          const hiddenField = document.createElement('input');
          hiddenField.type = 'hidden';
          hiddenField.name = 'check_api';
          form.appendChild(hiddenField);

          const h2 = document.createElement('input');
          h2.type = 'hidden';
          h2.name = 'acc_id';
          h2.value = $("[name='q10_id']")[0].value;
          form.appendChild(h2);

          const h3 = document.createElement('input');
          h3.type = 'hidden';
          h3.name = 'acc_pass';
          h3.value = $("[name='q10_password']")[0].value;
          form.appendChild(h3);

          const h4 = document.createElement('input');
          h4.type = 'hidden';
          h4.name = 'acc_api';
          h4.value = $("[name='q10_api']")[0].value;
          form.appendChild(h4);

          document.body.appendChild(form);
          form.submit();
        }

    document.getElementById("mega_wari").addEventListener('change', function(e){
        if ($("#mega_wari").prop('checked')) {
            $("#normal").prop('checked', false);
            $("#mega_wari").val('true');
            $("#x_").text('※出品価格＝X + X/8');
        }
    })

    document.getElementById("normal").addEventListener('change', function(e){
        if ($("#normal").prop('checked')) {
            $("#mega_wari").prop('checked', false);
            $("#mega_wari").val('false');
            $("#x_").text('※出品価格＝X + X/9');
        }
    })
</script>
{% endblock %}
